USE [B1812282_VoNgocLong]
GO
/****** Object:  Table [dbo].[BENHNHAN]    Script Date: 12/3/2021 9:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BENHNHAN](
	[MABN] [nvarchar](10) NOT NULL,
	[TENBN] [nvarchar](255) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [bit] NULL,
	[DOITUONG] [nvarchar](255) NULL,
	[DIENTHOAI] [varchar](10) NULL,
	[DIACHI] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MABN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BENHNHAN] ([MABN], [TENBN], [NGAYSINH], [GIOITINH], [DOITUONG], [DIENTHOAI], [DIACHI]) VALUES (N'1005', N'Võ Ngọc Long', CAST(N'2000-05-10' AS Date), 1, N'BHYT', N'0918393207', N'Sơn Kiên, Hòn Đất, Kiên Giang')
INSERT [dbo].[BENHNHAN] ([MABN], [TENBN], [NGAYSINH], [GIOITINH], [DOITUONG], [DIENTHOAI], [DIACHI]) VALUES (N'1119', N'Trần Vân Anh', CAST(N'1998-01-23' AS Date), 0, N'Dịch vụ', N'0901165070', N'Tú Sơn, Kiến Thụy, Hải Phòng')
INSERT [dbo].[BENHNHAN] ([MABN], [TENBN], [NGAYSINH], [GIOITINH], [DOITUONG], [DIENTHOAI], [DIACHI]) VALUES (N'1120', N'Hoàng Thị Tâm', CAST(N'2000-01-12' AS Date), 0, N'BHYT', N'0702340151', N'Kiên Giang')
GO
